<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <title>@ViewBag.Title</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Microsoft+JhengHei&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="~/img/logo-70.png" />
        <link rel="stylesheet" href="~/css/main.css">
        <link rel="stylesheet" href="~/css/variables.scss">          
    </head>
    
    <body>
        <div class="e2_2">
			
            <div class="main">

            <div class="user-container">
                <div class="user-info-container">
                    <div  class="user-photo-container">
                        <img src="" alt="">
                    </div>
                    <span  class="user-name">Vitalii Lynva</span>
                </div>
                <div class="settings-container"></div>
            </div>

            <div class="profit-info-container">

                <div class="prift-container">
                    <span  class="your-prift">Income</span>
                    <span  class="money">200</span>
                    <span  class="in-month">USD/month</span>                
                </div>

                <hr  class="hr-line-right">

                <div class="spend-container">
                    <span  class="subscription">Costs</span>
                    <span  class="spend-money">78.57</span>
                    <span  class="spend-in-month">USD/month</span>
                </div>

            </div>

        </div>

        <hr class="hr-line-midle">

        <div class="content">

            <div  class="Service-block">
                <span  class="Service-span">Service:</span>
            </div>

            <div  class="Price-block">
                <span  class="Price-span">Price:</span>
            </div>

            <div  class="Payment-block">
                <span  class="Peyment-span">ReSub:</span>
            </div>

            <hr class="hr-line-left">

            <div class="add-new-item-container">

                <div class="item-block-add-picture">
                    <div  class="item-add-picture">
						
                    </div>
                </div>
                
                <form class="add-new-item-form-block" method="post" accept="">
                    <input name="ServiceName" type="text" placeholder="Service Name" autocomplete="off" >
                    <input name="ServicePrice" type="text" placeholder="Service Price" autocomplete="off" >
                    <input name="ServiceReSub" type="text" placeholder="Date of Subs" autocomplete="off" >
                    <button class="add-new-item-btn">
                        <p class="add-new-item-thn-text">+ Add</p>
                    </button>
                </form>

            </div>

            <div class="items">

				@RenderBody()

            </div>
        </div>
			
        </div>
    </body>
</html>