body{
	display:flex;
	flex-direction:row;
	align-items:center;
	background:#ECE6CD;
	overflow-x:hidden;
	padding:0;
	margin:0;
}

.e2_2{
	display:flex;
	justify-content:center;
}

span{
	user-select:none;
}

.main{
	width:679px;
	height:900px;
	position:fixed;
	left:1241px;
	top:-75px;
	margin:0;
	padding:0;
}

.profit-info-container{
	width:600px;
	height:400px;
	position:absolute;
	left:40px;
	top:335px;
}

.hr-line-right{
	width:469px;
	position:absolute;
	left:66px;
	top:185px;
}

.spend-container{
	width:200px;
	height:160px;
	position:absolute;
	left:200px;
	top:214px;
}

.spend-in-month{
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:50.632911682128906px;
	position:absolute;
	left:0px;
	top:109.3670883178711px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}

.spend-money{
	color:rgba(0, 0, 0, 1);
	width:184.45596313476562px;
	height:111.39240264892578px;
	position:absolute;
	left:8.2901611328125px;
	top:27.341772079467773px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:66px;
	letter-spacing:0;
}

.subscription{
	color:rgba(0, 0, 0, 1);
	width:197.92745971679688px;
	height:50.632911682128906px;
	position:absolute;
	left:1.0362694263458252px;
	top:0px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}

.prift-container{
	width:200px;
	height:160px;
	position:absolute;
	left:200px;
	top:26px;
}

.in-month{
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:50.632911682128906px;
	position:absolute;
	left:0px;
	top:109.3670883178711px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}

.money{
	color:rgba(0, 0, 0, 1);
	width:143.00518798828125px;
	height:111.39240264892578px;
	position:absolute;
	left:29.01556396484375px;
	top:26.329113006591797px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:66px;
	letter-spacing:0;
}

.your-prift{
	color:rgba(0, 0, 0, 1);
	width:197.92745971679688px;
	height:50.632911682128906px;
	position:absolute;
	left:1.0362694263458252px;
	top:0px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}

.user-container{
	width:510px;
	height:75px;
	position:absolute;
	left:90px;
	top:150px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}

.settings-container{
	background-image:url('/img/settings.png');
	background-repeat:no-repeat;
	width:60px;
	height:60px;
	left:440px;
	top:13px;
}

.user-info-container{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:flex-start;
}

.user-name{
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:20px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:32px;
}

.user-photo-container{
	border-radius:500px;
	background-color:rgba(31.875, 26.56249936670065, 26.56249936670065, 1);
	width:75px;
	height:75px;
	border:2px solid rgba(0, 0, 0, 1);
}

.hr-line-midle{
	transform:rotate(90deg);
	width:780px;
	position:fixed;
	top:450px;
	left:850px;
}

.content{
	width:1241px;
	height:900px;
	position:absolute;
	left:0px;
	top:-80px;
}

.items{
	width:fit-content;
	height:fit-content;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
	position:absolute;
	left:83px;
	top:421px;
}

.item{
	background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
	width:1076px;
	height:100px;
	border-radius:25px;
	margin-bottom:35px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}

.item:hover{
	background-color: white;
}

.item-block-picture{
	width:150px;
	height:100px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.item-picture{
	width:fit-content;
	height:fit-content;
	left:30px;
	top:15px;
	border-radius:20px;
}

.item-name{
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:30px;
	overflow:hidden;
	text-overflow:ellipsis;
	font-family:var(--opensans-font);
	text-align:left;
	font-size:28px;
	letter-spacing:0px;
}

.item-price{
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:30px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}

.item-resub_timer{
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:35px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:26px;
	letter-spacing:0;
}

.add-new-item-container{
	background-color:rgba(234.81250405311584, 234.81250405311584, 234.81250405311584, 1);
	width:1076px;
	height:100px;
	position:absolute;
	left:83px;
	top:295px;
	border-radius:25px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}

.item-block-add-picture{
	width:100px;
	height:100px;
	display:flex;
	align-items:center;
	justify-content:flex-end;
}

.item-add-picture{
	border-radius:20px;
	background-color:rgba(31.875, 26.56249936670065, 26.56249936670065, 1);
	width:70px;
	height:70px;
}

.add-new-item-form-block{
	width:860px;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
}

input{
	background-color:rgba(255, 255, 255, 1);
	border:none;
	position:relative;
	width:200px;
	height:50px;
	border-radius:10px;
	font-size:26px;
	font-style:normal;
	padding-inline-start:25px;
	font-family:var(--opensans-font);
	margin:0;
	padding:0;
	padding-left:25px;
}

.add-new-item-btn{
	display:flex;
	align-items:center;
	justify-content:center;
	width:100px;
	height:50px;
	border-radius:5px;
	border:none;
	background-color:#EE6A59;
}

.hr-line-left{
	width:1020px;
	position:absolute;
	left:110px;
	top:254px;
}

.Payment-block{
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:75px;
	position:absolute;
	left:894px;
	top:164px;
	border-radius:15px;
}

.Peyment-span{
	color:rgba(0, 0, 0, 1);
	width:235px;
	height:35px;
	position:absolute;
	top:18px;
	font-family:var(--opensans-font);
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}

.Price-block{
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:75px;
	position:absolute;
	left:604px;
	top:164px;
	border-radius:15px;
}

.Price-span{
	color:rgba(0, 0, 0, 1);
	width:235px;
	height:35px;
	position:absolute;
	top:18px;
	font-family:var(--opensans-font);
	text-align:center;
	user-select:none;
	font-size:28px;
	letter-spacing:0;
}

.Service-block{
	background-color:rgba(255, 255, 255, 1);
	width:277px;
	height:75px;
	position:absolute;
	left:271px;
	top:164px;
	border-radius:15px;
}

.Service-span{
	color:rgba(0, 0, 0, 1);
	width:277px;
	height:35px;
	position:absolute;
	top:18px;
	font-family:var(--opensans-font);
	text-align:center;
	user-select:none;
	font-size:28px;
	letter-spacing:0;
}